*~
*.swp
*.swo
.DS_Store
*.exe
*.exe.mdb
*.userprefs
*.pidb
*.gmo
*.bak
*.suo
*.sln.cache
*.user
*.resources
*.tmp
bin/
build/
obj/
git-*
*.gz
Sparkles/InstallationInfo.Directory.cs
SparkleShare/Linux/sparkleshare
SparkleShare/Mac/git*
SparkleShare/Mac/*.tar.gz
SparkleShare/Avalonia/os_specific/MacOS/git*
SparkleShare/Avalonia/os_specific/MacOS/Resources/git
SparkleShare/Avalonia/os_specific/MacOS/*.tar.gz
/sparkleshare-*
desktop.ini
_ReSharper.*
*.msi
*.wixobj
*.wixpdb
*.dotCover
SparkleShare/Windows/build/
.vs/
SparkleShare/Windows/*.wxs
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

