<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package Name="SparkleShare"
             UpgradeCode="D3DF1D99-87F5-47A7-A349-863DD6E4B73A"
             Language="1033" Version="3.39.0" Manufacturer="SparkleShare"
             Compressed="yes" InstallerVersion="500">
        <SummaryInformation Description="SparkleShare Avalonia Setup" Keywords="Installer" Manufacturer="SparkleShare"/>
        <Media Id="1" Cabinet="SparkleShare.cab" EmbedCab="yes"/>
        <MajorUpgrade DowngradeErrorMessage="A newer version is already installed."/>
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="SparkleShare"/>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Component Id="ApplicationShortcut" Guid="468550D5-67F6-4D06-97A2-7E2F1607A7B1">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="SparkleShare" Target="[INSTALLDIR]SparkleShare.exe" WorkingDirectory="INSTALLDIR" Icon="SparkleShareIcon"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\SparkleShare" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
            <Component Id="SparkleShareProtocolHandler" Guid="B83A4473-A26F-491A-BCD7-B999A8F6E552">
                <RegistryValue Root="HKCU" Key="Software\Classes\sparkleshare" Name="URL Protocol" Value="" Type="string" KeyPath="yes"/>
                <RegistryValue Root="HKCU" Key="Software\Classes\sparkleshare-unsafe" Name="URL Protocol" Value="" Type="string"/>
            </Component>
        </StandardDirectory>
        <Feature Id="SparkleShareFeature" Title="SparkleShare" Description="SparkleShare - Avalonia Edition" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="HarvestedFiles"/>
            <ComponentRef Id="ApplicationShortcut"/>
            <ComponentRef Id="SparkleShareProtocolHandler"/>
        </Feature>
        <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseFile)"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch SparkleShare"/>
        <ui:WixUI Id="WixUI_InstallDir"/>
        <Property Id="WixShellExecTarget" Value="[#SparkleShare.exe]"/>
        <CustomAction Id="LaunchApplication" BinaryRef="Wix4UtilCA_X86" DllEntry="WixShellExec" Impersonate="yes"/>
        <InstallExecuteSequence>
            <Custom Action="LaunchApplication" After="InstallFinalize" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed"/>
        </InstallExecuteSequence>
        <util:CloseApplication Id="CloseSparkleShare" Target="SparkleShare.exe" RebootPrompt="no" ElevatedCloseMessage="yes" CloseMessage="yes"/>
        <Icon Id="SparkleShareIcon" SourceFile="$(var.BuildRoot)\SparkleShare.Avalonia.exe"/>
    </Package>
</Wix>